* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.6rem;
}

main div {
    font-size: 1.6rem;
}

/*Rem es la medida del root o elemento padre que html
html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

siempre se debe agregar*/